In [17]:
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [18]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [19]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [20]:
for high_school_d in high_school_types:
    print(high_school_d)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [21]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [22]:
# Add the Pandas dependency
import pandas as pd

In [23]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [49]:

#high_school_dicts = [[0,1,2,3,4],
#                     ["Huang High School", "Figueroa High School", "Shelton High School","Hernandez High School","Griffin High School"],
#                     ["District","District","Charter","District","Charter"]]  
#df = pd.DataFrame (high_school_dicts).transpose()
#df.columns=[["school_id","school_name","type_of_school"]]
#print(df)
# i try DIFFERENT stuff so is wrong
high_school_dicts= [{"School ID":0, "High School": "Griffin", "Type":"District"},
                    {"School ID":1, "High School": "Figueroa", "Type": "District"},
                    {"School ID":2, "High School": "Wilson", "Type": "Charter"},
                    {"School ID":3, "High School": "Wright", "Type": "Charter"}]

In [50]:
school_df=pd.DataFrame(high_school_dicts)
school_df

   School ID High School      Type
0          0     Griffin  District
1          1    Figueroa  District
2          2      Wilson   Charter
3          3      Wright   Charter

In [26]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [27]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [28]:
hi=pd.DataFrame(high_schools_dict)
hi

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter